*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/bg.jpg);
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loginHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.loginHeader img{
    width: 200px;
}

.loginHeader h1{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    font-size: 1.5em;
}

.loginInput{
    border: 2px #333 solid;
    border-radius: 8px;
    width: 100%;
    max-width: 270px;
    margin-bottom: 15px;
    font-size: 1em;
    outline: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.loginButton{
  background-color: rgba(146, 172, 231, 0.6);
  width: 100%;
  max-width: 270px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
}
.loginButton:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
